{% extends "layout.html" %}
{% load static %}
{% block css %}
    <!-- Tempus Dominus Styles -->
    <link rel="stylesheet" href="{% static 'css/tempus-dominus.css' %}" />
    <!-- fontawesome -->
    <link href="{% static 'css/fontawesome/css/fontawesome.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'css/fontawesome/css/solid.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'css/fontawesome/css/brands.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
    <link rel="stylesheet"
          href="{% static 'css/select2-bootstrap-5-theme.min.css' %}" />
{% endblock %}
{% block title %}<title>Add User</title>{% endblock %}
{% block content %}
    <div class="row mb-3">
        <div class="col-12">
            <h1>Add User</h1>
        </div>
    </div>
    <form method="post"
          class="row mb-3 g-3"
          action="{% url 'addUser' %}"
          novalidate>
        {% csrf_token %}
        <div class="col-md-2 col-sm-12">
            <label for="code" class="form-label">Employee Code</label>
            <input type="text" class="form-control" id="code" name="code" required />
            <div class="invalid-feedback">Please input data</div>
        </div>
        <div class="col-md-5 col-sm-12">
            <label for="fnameen" class="form-label">First Name (EN)</label>
            <input type="text" id="fnameen" name="fnameen" class="form-control" required />
            <div class="invalid-feedback">Please input data</div>
        </div>
        <div class="col-md-5 col-sm-12">
            <label for="lnameen" class="form-label">Last Name (EN)</label>
            <input type="text" id="lnameen" name="lnameen" class="form-control" required />
            <div class="invalid-feedback">Please input data</div>
        </div>
        <div class="col-md-5 col-sm-12">
            <label for="fnameth" class="form-label">First Name (TH)</label>
            <input type="text" id="fnameth" name="fnameth" class="form-control" />
        </div>
        <div class="col-md-5 col-sm-12">
            <label for="lnameth" class="form-label">Last Name (TH)</label>
            <input type="text" id="lnameth" name="lnameth" class="form-control" />
        </div>
        <div class="col-md-2 col-sm-12">
            <label for="nickname" class="form-label">Nick Name</label>
            <input type="text" id="nickname" name="nickname" class="form-control" />
        </div>
        <div class="col-md-1 col-sm-12">
            <label for="nation" class="form-label">Naition</label>
            <input type="text" id="nation" name="nation" class="form-control" />
        </div>
        <div class="col-md-3 col-sm-12">
            <label for="birthday" class="form-label">Birth Date</label>
            <input type="text" id="birthday" name="birthday" class="form-control" />
            <div class="invalid-feedback">Please input date format (DD/MM/YYYY)</div>
        </div>
        <div class="col-md-4 col-sm-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" />
            <div class="invalid-feedback">Please input date email format</div>
        </div>
        <div class="col-md-4 col-sm-12">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" id="phone" name="phone" class="form-control" />
        </div>
        <div class="col-12">
            <div class="form-check">
                <input type="checkbox" id="isadmin" name="isadmin" class="form-check-input" />
                <label for="isadmin" class="form-check-label">Is Admin</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 mt-5 mb-3">
            <div class="row">
                <div class="col-12">
                    <h1>Role User</h1>
                </div>
            </div>
            <div class="table-responsive">
                <button type="button" id="addRole" class="btn btn-success float-end mb-3">
                    <span>Add Role</span>
                </button>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Organization</th>
                            <th>Position</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col-12">
            <a href="{% url 'indexUser' %}" class="btn btn-secondary me-2">
                <span>Back</span>
            </a>
            <button type="submit" class="btn btn-primary">
                <span>Submit</span>
            </button>
        </div>
    </form>
{% endblock %}
{% block script %}
    <!-- Popperjs -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Tempus Dominus JavaScript -->
    <script src="{% static 'js/tempus-dominus.js' %}"></script>
    <!-- fontawesome -->
    <script src="{% static 'js/fontawesome.min.js' %}"></script>
    <script src="{% static 'js/solid.min.js' %}"></script>
    <script src="{% static 'js/brands.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(()=>{
            ActiveMenu("user");
            var dp = new tempusDominus.TempusDominus(document.getElementById("birthday"),{
                useCurrent: false, // ไม่ให้มีค่าเริ่มต้นที่อาจผิดพลาด
                localization: {
                    format: "dd/MM/yyyy",
                    hourCycle: "h24",
                },
                display: {
                    
                    buttons: {
                    today: true,
                    clear: true,
                    close: true,
                    },
                    //sideBySide: true,
                    viewMode: "calendar",
                    components: {
                    decades: true,
                    year: true,
                    month: true,
                    date: true,
                    hours: false,
                    minutes: false,
                    seconds: false,
                    },
                },
                
            });
            $('#birthday').change((e)=>{
                const dateValue = $(e.currentTarget).val();
                // console.log(dateValue);
                if(dateValue){
                    if (!isValidDateFormat(dateValue)) {
                        $(e.currentTarget)[0].setCustomValidity("Invalid");
                    } else {
                        $(e.currentTarget)[0].setCustomValidity("");
                    }
                }else{
                    $(e.currentTarget)[0].setCustomValidity("");
                }
                $("form").addClass("was-validated"); // ทำให้ Bootstrap แสดงผล
            });
            (function () {
                'use strict';
                document.querySelector('form').addEventListener('submit', function (event) {
                    if (!this.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                        this.classList.add('was-validated');
                    }
                    this.classList.add('was-validated');
                }, false);
            })();
            
        });
        // ฟังก์ชันเช็คว่า input มีค่าตรงกับ dd/mm/yyyy หรือไม่
        function isValidDateFormat(dateString) {
            const regex = /^(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[0-2])\/\d{4}$/;
            return regex.test(dateString);
        }
        $("#addRole").click(async (e)=>{
            e.preventDefault();
            let psts = await GetPosition();
            let orgs = await GetOrganization();
            
            AddRole(psts, orgs);
            $('.form-select').select2({
                theme: 'bootstrap-5'
            });
        });
        const GetPosition = async ()=>{
            return $.get(window.location.origin + "/pst/pstdwn");
        };
        const GetOrganization = async ()=>{
            return $.get(window.location.origin + "/org/orgdwn");
        };
        const AddRole = (positions, organizations)=>{
            // -- create dropdown position
            const org = CreatePstDropdown(positions);
            // -- create dropdown organization
            const pos = CreateOrgDropdown(organizations);
            // -- div invalid feed back
            const invalidDiv = $("<div>").addClass("invalid-feedback");
            invalidDiv.text('Please select Data');

            const button = $("<button>",{ 
                type: "button", 
                text: "Delete", 
                class:"btn btn-danger delete",
            });
            
            // -- <td>
            const td = $("<td>");
            
            // -- td organization column
            const tdOrg = td.clone().append(org);
            tdOrg.append(invalidDiv.clone());
            // -- td position column
            const tdPos = td.clone().append(pos);
            tdPos.append(invalidDiv.clone());
            // -- td delete button column
            const tdDl = td.clone().append(button);
            // -- <tr>
            const tr = $("<tr>");
            tr.append(tdPos);
            tr.append(tdOrg);
            tr.append(tdDl);
            if(!$('.table > tbody')[0]){
                const tbody = $("<tbody>");
                tbody.append(tr);
                const table = $('.table');
                table.append(tbody);
            }else{
                const table = $(".table > tbody");
                table.append(tr);
            }
            
        }
        const CreatePstDropdown = (positions)=>{
            const select = $("<select>").addClass('form-select');
            select.prop("required", true);
            select.prop("name", "pst");
            $.each(positions, (index, value)=>{
                const option = $("<option>");
                option.val(value.id_pst);
                option.text(value.nameEN_pst);
                select.append(option);
            });
            return select;
        };
        const CreateOrgDropdown = (organizations)=>{
            const select = $("<select>").addClass('form-select');
            select.prop("required", true);
            select.prop("name", "org");
            $.each(organizations, (index, value)=>{
                const option = $("<option>");
                option.val(value.id_org);
                option.text(value.nameEN_org);
                select.append(option);
            });
            return select;
        };
        $(document).on("click", ".delete", function(e) {
            $(e.currentTarget).parent('td').parent("tr").remove();
        });
        
    </script>
{% endblock %}
