{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="เว็บไซต์นี้ให้ข้อมูลเกี่ยวกับ HTML, CSS และการพัฒนาเว็บ">
    <meta name="keywords"
          content="HTML, CSS, JavaScript, เว็บดีไซน์, การพัฒนาเว็บ">
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static 'favicon/favicon-16x16.png' %}">
    <!-- <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link href="{% static 'css/app.css' %}" rel="stylesheet" />
    {% block css %}{% endblock %}
    {% block title %}<title>SKT</title>{% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- sidebar -->
        <div class="col-auto p-0 m-0">
          <div class="sidebar">
            <div class="sidebar-logo">
              <!-- <a href="/">CHaKU Brand</a> -->
              <a href="{% url 'indexDashboard' %}">CHaKU Brand</a>
            </div>
            <ul class="sidebar-nav">
              <li class="sidebar-item">
                <!-- <a href="/" class="sidebar-link"> -->
                <a href="{% url 'indexDashboard' %}"
                   class="sidebar-link"
                   data-active="dashboard">
                  <i class="bi bi-house me-2"></i>
                  <span>Home</span>
                </a>
              </li>
              <li class="sidebar-item">
                <!-- <a href="/adduser" class="sidebar-link"> -->
                <a href="{% url 'indexUser' %}" class="sidebar-link" data-active="user">
                  <i class="bi bi-person-vcard me-2"></i>
                  <span>User</span>
                </a>
              </li>
              <li>
                <a class="sidebar-link" data-bs-toggle="collapse" href="#menu1">
                  <i class="bi bi-boxes me-2"></i>
                  <span>Organization</span>
                </a>
                <ul class="collapse" id="menu1">
                  <!-- <li>
                    <a class="sidebar-link" data-bs-toggle="collapse" href="#submenu1">เมนูย่อย 1</a>
                    <ul class="collapse" id="submenu1">
                      <li>
                        <a class="sidebar-link" href="#">เมนูย่อย 1.1</a>
                      </li>
                      <li>
                        <a class="sidebar-link" href="#">เมนูย่อย 1.2</a>
                      </li>
                    </ul>
                  </li> -->
                  <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'indexOrg' %}" data-active="org">
                      <i class="bi bi-bank me-2"></i>
                      <span>Organization</span>
                    </a>
                  </li>
                  <li class="sidebar-item">
                    <a href="{% url 'indexLv' %}" class="sidebar-link" data-active="level">
                      <i class="bi bi-bounding-box-circles me-2"></i>
                      <span>Level</span>
                    </a>
                  </li>
                  <li class="sidebar-item">
                    <a href="{% url 'indexPst' %}" class="sidebar-link" data-active="pst">
                      <i class="bi bi-node-plus me-2"></i>
                      <span>Position</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <hr class="border border-white border-1 opacity-50" />
            <!-- สร้างการแสดงผล username โดยการสร้าง custom tag ใน app_dashboard > tamplatetags > custom_tags.py -->
            <li class="sidebar-item dropdown list-unstyled">
              <a class="sidebar-link dropdown-toggle"
                 href="#"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                {% if request.currentUser %}
                  <span>{{ request.currentUser.email_u }}</span>
                {% else %}
                  <span>-</span>
                {% endif %}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item disabled" href="#">Profile</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}" class="dropdown-item">
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </li>
          </div>
        </div>
        <!-- content -->
        <div class="col main">
          {% include 'components/top_menus.html' %}
          <hr class="mb-3 mt-1" />
          <div>
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script type="text/JavaScript">
      function ActiveMenu(menu) {
        // ลบ Active ออกจากทุกเมนูที่ไม่ตรงกับ data-active
        $('.sidebar-link:not([data-active="' + menu + '"])').removeClass('active');
        
        // เพิ่ม Active ให้เมนูที่ถูกเลือก
        let activeLink = $('.sidebar-link[data-active="' + menu + '"]');
        activeLink.addClass('active');
        
        // ถ้าคลิกเมนูย่อย ให้อัพเดตเมนูหลัก
        let parentMenu = activeLink.closest('.collapse');
        if (parentMenu.length) {
          parentMenu.addClass('show'); // เปิดเมนูหลัก
          // parentMenu.prev('.sidebar-link').addClass('active'); // เพิ่ม Active ให้เมนูหลัก
        }
      }
    </script>
    {% block script %}{% endblock %}
  </body>
</html>
