{% extends "layout.html" %}
{% load static %}
{% block title %}<title>Add Level</title>{% endblock %}
{% block content %}
    <div class="row mb-3">
        <div class="col-12">
            <h1>Add Level</h1>
        </div>
    </div>
    <form method="post" class="row g-3" action="{% url 'addLv' %}" novalidate>
        {% csrf_token %}
        <div class="col-md-3 col-sm-12">
            <label for="code" class="form-label">Level Code</label>
            <input type="text" id="code" name="code" class="form-control" required />
            <div class="invalid-feedback">Please input Data</div>
        </div>
        <div class="col-md-4 col-sm-12">
            <label for="nameth" class="form-label">Level Name TH</label>
            <input type="text" id="nameth" name="nameth" class="form-control" />
        </div>
        <div class="col-md-4 col-sm-12">
            <label for="nameen" class="form-label">Level Name EN</label>
            <input type="text" id="nameen" name="nameen" class="form-control" required />
            <div class="invalid-feedback">Please input Data</div>
        </div>
        <div class="col-12">
            <a href="{% url 'indexLv' %}" class="btn btn-secondary me-2">
                <span>Back</span>
            </a>
            <button type="submit" class="btn btn-primary">
                <span>Submit</span>
            </button>
        </div>
    </form>
{% endblock %}
{% block script %}
    <script type="text/javascript">
    (function () {
        'use strict';
        document.querySelector('form').addEventListener('submit', function (event) {
            if (!this.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            this.classList.add('was-validated');
        }, false);
    })();
    </script>
{% endblock %}
